{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta content="Codescandy" name="author" />
    <title>{% block title %}Dashboard{% endblock %} - FreshCart</title>

    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/favicon/favicon.ico' %}"
    />

    <!-- Libs CSS -->
    <link
      href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/feather-webfont/dist/feather-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/libs/simplebar/dist/simplebar.min.css' %}"
      rel="stylesheet"
    />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <!-- main wrapper-->
    <div class="main-wrapper">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-glass">
        <div class="container-fluid">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">
              <a
                class="text-inherit d-block d-xl-none me-4"
                data-bs-toggle="offcanvas"
                href="#offcanvasExample"
                role="button"
                aria-controls="offcanvasExample"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  class="bi bi-text-indent-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </a>
              <form role="search">
                <label for="search" class="form-label visually-hidden"
                  >Search</label
                >
                <input
                  class="form-control"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  id="search"
                />
              </form>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0"
              >
                <li class="dropdown ms-4">
                  <a
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <img
                      src="{% static 'assets/images/avatar/avatar-1.jpg' %}"
                      alt=""
                      class="avatar avatar-md rounded-circle"
                    />
                  </a>
                  <div class="dropdown-menu dropdown-menu-end p-0">
                    <div class="lh-1 px-5 py-4 border-bottom">
                      <h5 class="mb-1 h6">FreshCart Admin</h5>
                      <small
                        >{{ user.email|default:'admin@freshcart.com' }}</small
                      >
                    </div>
                    <ul class="list-unstyled">
                      <li>
                        <a class="dropdown-item" href="{% url 'dashboard' %}"
                          ><i class="bi bi-house me-3"></i>Dashboard</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#!"
                          ><i class="bi bi-person me-3"></i>Edit Profile</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#!"
                          ><i class="bi bi-gear me-3"></i>Account Settings</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}"
                          ><i class="bi bi-box-arrow-right me-3"></i>Sign Out</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- navbar vertical -->
      <nav class="navbar-vertical-nav d-none d-xl-block">
        <div class="navbar-vertical">
          <div class="px-4 py-5">
            <a href="{% url 'dashboard' %}" class="navbar-brand">
              <img
                src="{% static 'assets/images/logo/freshcart-logo.svg' %}"
                alt=""
              />
            </a>
          </div>
          <div class="navbar-vertical-content flex-grow-1" data-simplebar>
            <ul class="navbar-nav flex-column" id="sideNavbar">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                  href="{% url 'dashboard' %}"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-house"></i
                    ></span>
                    <span class="nav-link-text">Dashboard</span>
                  </div>
                </a>
              </li>
              <li class="nav-item mt-6 mb-3">
                <span class="nav-label">Store Managements</span>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if 'products' in request.resolver_match.url_name %}active{% endif %}"
                  href="{% url 'products_list' %}"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-cart"></i
                    ></span>
                    <span class="nav-link-text">Products</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-list-task"></i
                    ></span>
                    <span class="nav-link-text">Categories</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#navCategoriesOrders"
                  aria-expanded="false"
                  aria-controls="navCategoriesOrders"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><i class="bi bi-bag"></i></span>
                    <span class="nav-link-text">Orders</span>
                  </div>
                </a>
                <div
                  id="navCategoriesOrders"
                  class="collapse"
                  data-bs-parent="#sideNavbar"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#!">List</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">Single</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-shop"></i
                    ></span>
                    <span class="nav-link-text">Sellers / Vendors</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#navCustomer"
                  aria-expanded="false"
                  aria-controls="navCustomer"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-people"></i
                    ></span>
                    <span class="nav-link-text">Customers</span>
                    <span class="badge bg-light-success text-dark-success ms-2"
                      >New</span
                    >
                  </div>
                </a>
                <div
                  id="navCustomer"
                  class="collapse"
                  data-bs-parent="#sideNavbar"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'customers_list' %}"
                        >Customers</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">Create Customers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">Edit Customers</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-star"></i
                    ></span>
                    <span class="nav-link-text">Reviews</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#navMenuLevelFirst"
                  aria-expanded="false"
                  aria-controls="navMenuLevelFirst"
                >
                  <span class="nav-link-icon"
                    ><i class="bi bi-arrow-90deg-down"></i
                  ></span>
                  <span class="nav-link-text">Menu Level</span>
                </a>
                <div
                  id="navMenuLevelFirst"
                  class="collapse"
                  data-bs-parent="#sideNavbar"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="#"
                        data-bs-toggle="collapse"
                        data-bs-target="#navMenuLevelSecond1"
                        aria-expanded="false"
                        aria-controls="navMenuLevelSecond1"
                      >
                        Two Level
                      </a>
                      <div
                        id="navMenuLevelSecond1"
                        class="collapse"
                        data-bs-parent="#navMenuLevel"
                      >
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">NavItem 1</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">NavItem 2</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link collapsed"
                        href="#"
                        data-bs-toggle="collapse"
                        data-bs-target="#navMenuLevelThreeOne1"
                        aria-expanded="false"
                        aria-controls="navMenuLevelThreeOne1"
                      >
                        Three Level
                      </a>
                      <div
                        id="navMenuLevelThreeOne1"
                        class="collapse"
                        data-bs-parent="#navMenuLevel"
                      >
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a
                              class="nav-link collapsed"
                              href="#"
                              data-bs-toggle="collapse"
                              data-bs-target="#navMenuLevelThreeTwo"
                              aria-expanded="false"
                              aria-controls="navMenuLevelThreeTwo"
                            >
                              NavItem 1
                            </a>
                            <div
                              id="navMenuLevelThreeTwo"
                              class="collapse collapse"
                              data-bs-parent="#navMenuLevelThree"
                            >
                              <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a class="nav-link" href="#"
                                    >NavChild Item 1</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Nav Item 2</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mt-6 mb-3">
                <span class="nav-label">Site Settings</span>
                <span class="badge bg-light-info text-dark-info"
                  >Coming Soon</span
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#navBlog"
                  aria-expanded="false"
                  aria-controls="navBlog"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-newspaper"></i
                    ></span>
                    <span class="nav-link-text">Blog</span>
                    <span class="badge bg-light-success text-dark-success ms-2"
                      >New</span
                    >
                  </div>
                </a>
                <div id="navBlog" class="collapse" data-bs-parent="#sideNavbar">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#!">Grid</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">List</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">Add Post</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-images"></i
                    ></span>
                    <span class="nav-link-text">Media</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-gear"></i
                    ></span>
                    <span class="nav-link-text">Store Settings</span>
                  </div>
                </a>
              </li>
              <li class="nav-item mt-6 mb-3">
                <span class="nav-label">Support</span>
                <span class="badge bg-light-info text-dark-info"
                  >Coming Soon</span
                >
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-headphones"></i
                    ></span>
                    <span class="nav-link-text">Support Ticket</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-question-circle"></i
                    ></span>
                    <span class="nav-link-text">Help Center</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-infinity"></i
                    ></span>
                    <span class="nav-link-text">How FreshCart Works</span>
                  </div>
                </a>
              </li>
              <li class="nav-item mt-6 mb-3">
                <span class="nav-label">Our Apps</span>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-apple"></i
                    ></span>
                    <span class="nav-link-text">Apple Store</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#!">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-google-play"></i
                    ></span>
                    <span class="nav-link-text">Google Play Store</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- mobile navbar -->
      <nav
        class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvas"
        tabindex="-1"
        id="offcanvasExample"
      >
        <div class="navbar-vertical">
          <div
            class="px-4 py-5 d-flex justify-content-between align-items-center"
          >
            <a href="{% url 'dashboard' %}" class="navbar-brand">
              <img
                src="{% static 'assets/images/logo/freshcart-logo.svg' %}"
                alt=""
              />
            </a>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="navbar-vertical-content flex-grow-1" data-simplebar>
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                  href="{% url 'dashboard' %}"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-house"></i
                    ></span>
                    <span class="nav-link-text">Dashboard</span>
                  </div>
                </a>
              </li>
              <li class="nav-item mt-6 mb-3">
                <span class="nav-label">Store Managements</span>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if 'products' in request.resolver_match.url_name %}active{% endif %}"
                  href="{% url 'products_list' %}"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-cart"></i
                    ></span>
                    <span class="nav-link-text">Products</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if 'customers' in request.resolver_match.url_name %}active{% endif %}"
                  href="{% url 'customers_list' %}"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon"
                      ><i class="bi bi-people"></i
                    ></span>
                    <span class="nav-link-text">Customers</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- main content -->
      {% block content %} {% endblock %}
    </div>

    <!-- Libs JS -->
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.min.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
